[Desktop Entry]
Name=Charge Keeper
Comment=Battery charge threshold management
Exec=a14-charge-keeper-gui
Icon=charge-keeper
Terminal=false
Type=Application
Categories=System;Settings;
StartupNotify=true
Keywords=battery;charge;threshold;power;